#trade-nav-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #17252E;
    z-index: 99;
}

#trade-nav-footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0;
}

#trade-nav-footer ul li {
    flex: 1 1 auto;
}

#trade-nav-footer li {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    border-right: 1px solid #3A444D;
}
#trade-nav-footer li:last-child {
    border-right: none;
}

#trade-nav-footer li.active {
    background-color: #3A444D;
}

#trade-nav-footer li a {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}

body {
    background-color: #FAFAFA;
}
.trade-graph-top-bar {
    margin-bottom: 12px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}
.graph-main-label {
    font-size: 18px;
}
.graph-money-label {
    font-size: 17px;
}
.graph-section {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    margin-top: 15px;
}
.chart-container {
    margin-top: 95px;
}

.trade-charts-top {
    position: absolute;
    height: 170px;
    width: 100%;
    background-color: #17252E;
    top: 0;
    text-align: center;
    color: white;
}
.my-money-label {
    font-size: 32px;
    position: relative;
    margin-top: 20px;
}
.my-account-link {
    margin-top: 2px;
}
.my-account-link a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.small-top-bar {
    width: 100%;
    height: 30px;
    background-color: #17252E;
    text-align: center;
    font-size: 15px;
    color: white;
    line-height: 30px;
    vertical-align: middle;
    position: fixed;
    z-index: 99;
}

.top-gap-fix {
    height: 40px;
    width: 100%;
}

.accounts-row {
    display:flex;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.accounts-left {
    flex: 1;
    display: flex;
}
.accounts-right {
    flex: 1;
    text-align: right;
}

.accounts-right div {
    display: inline-block;
}
.chevron-container {
    padding: 11px 7px;
}
.chevron-container i {
    color: #3A444D;
}
.accounts-circle-icon {
    display: inline-block;
    padding: 7px;
}
.figure-container {
    padding: 7px;
}
figure.circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    line-height: 30px;
}
.account-label {
    padding: 7px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 17px;
}
.accounts-currency-label {
    display: inline-block;
    padding: 7px;
}
.btc-color {
    background-color: #F4A460;
}
.eth-color {
    background-color: #9370DB;
}
.ltc-color {
    background-color: #335F89;
}
.usd-color {
    background-color: #3A444D;
}
.account-type-header {
    margin-top: 20px;
}
